@{
    ViewData["Title"] = "Inventory";
}
@model BestofBooks.Models.ViewModels.InventoryListViewModel

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - BestofBooks</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://kit.fontawesome.com/f9f4cabcd6.js" crossorigin="anonymous"></script>
<script src="~/js/inventoryList.js"></script>

<div class="container-fluid my-4">
    <div class="text-center">
        <h1 class="text-wrap" style="color: #0429AC">Welcome to Best of Books!</h1>
        <img src="@Url.Content("~/Images/BestofBooks2.png")" class="img-fluid" style="width:13em; padding-bottom:3em" />
        <p style="color: #0429AC">Our inventory is displayed below. Please let an employee know if you need any assistance!</p>
    </div>
</div>
@if(Model.LoggedInUser != null && Model.LoggedInUser.adds_enabled)
{
<div class="container text-center" style="padding: .5em 0 .5em 0">
        @*Tried to add functionality to buttons but does nothing*@
        <button id="addBtn" name="Add" onclick="add_row" style="color:#004803; border-color:#004803; background-color:#DBD9CA"><i class="fa-solid fa-plus" style="font-family:'Bookman Old Style'; color:#004803">Add</i></button>
</div>
}
<div class="container text-center">
    <table class="table-hover table-bordered align-items-center" id="ListTable" cellspacing=5 cellpadding=5 border="1" style="visibility:visible">
        <tr class="text-center">
            <th>ISBN</th>
            <th>Title</th>
            <th>Author First Name</th>
            <th>Author Last Name</th>
            <th>Genre</th>
            <th>Location</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        @if(Model.LoggedInUser != null && Model.LoggedInUser.adds_enabled)
        {
        <tr class="hidden text-center">
                <td><input id="new_ISBN" size="10" type="text" placeholder="Enter ISBN" /></td>
                <td><input id="new_title" type="text" size="15" placeholder="Type the Title here..." /></td>
                <td><input id="new_authorFirst" type="text" size="15" placeholder="Type the Author First Name here..." /></td>
                <td><input id="new_authorLast" type="text" size="15" placeholder="Type the Author Last Name here..." /></td>
                <td><input id="new_genre" type="text" size="10" placeholder="Type the genre here..." /></td>
                <td><input id="new_location" type="text" size="6" placeholder="Type the location here..." /></td>
                <td><input id="new_price" type="text" size="4" value="$__.__" data-mask="$__.__" /></td>
                <td><input id="new_qty" type="text" size="2" placeholder="0" /></td>
        </tr>
        }
        @for (var i = 0; i < Model.invListBooks.Count(); i++)
        {
            @*Make rows editable if user has edit rights --- stored proc to alter info in DB*@
            <tr>
                <td id="invListISBN">@Model.invListBooks[i].ISBN</td>
                <td id="invListTitle">@Model.invListBooks[i].Title</td>
                <td id="invListAuthorFirst">@Model.invListBooks[i].AuthorFirst</td>
                <td id="invListAuthorLast">@Model.invListBooks[i].AuthorLast</td>
                <td id="invListGenre">@Model.invListBooks[i].Genre</td>
                <td id="invListLocation">@Model.invListBooks[i].Location</td>
                <td id="invListPrice">@Model.invListBooks[i].Price.ToString("C")</td>
                <td id="invListQty">@Model.invListBooks[i].Quantity</td>
                @*Tried to add functionality to buttons but does nothing*@
                @if (Model.LoggedInUser != null && Model.LoggedInUser.edits_enabled)
                {
                    <td><input type="button" id="edit_btn" value="Edit" onclick="edit_row()" style="color:#004803; text-align:center; background-color:#DBD9CA; border-color:#004803; font-weight:bold; font-family:'Bookman Old Style'" /></td>
                }
            </tr>
        }
    </table>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("Login")
}