@{
    ViewData["Title"] = "Search";
}
@model AvailableReportModel

<title>@ViewData["Title"] - BestofBooks</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/inventorylist-jquery.js"></script>
<script src="https://kit.fontawesome.com/f9f4cabcd6.js" crossorigin="anonymous"></script>

<div class="container-fluid my-4">
    <div class="text-center">
        <h1 class="text-wrap" style="color: #0429AC">Welcome to Best of Books!</h1>
        <img src="@Url.Content("~/Images/BestofBooks2.png")" class="img-fluid" style="width:13em; padding-bottom:3em" />
        <p style="color: #0429AC">Enter your search parameters below!!</p>
    </div>
</div>
<div class="container text-center" style="padding: .5em 0 .5em 0">
    <select name="searchOptions" id="searchOptions" style="background-color:#DBD9CA; text-align:center; height:1.6em; color:#004803">
    <option value="" disabled selected>Select Filter Option</option>
    <option value="">Genre</option>
    <option value="">Author Last Name</option>
    <option value="">Author First Name</option>
    <option value="">Title</option>
    </select>

    <div class="text-body" style="padding: .5em 0 .5em 0">
        <input type="text" id="textFilter" name="Text Filter" maxlength="25" />
    </div>
</div>
<div class="container text-center">
    <button id="inventorySearchBtn" name="Search" style="color:#004803; border-color:#004803; background-color:#DBD9CA; font-weight:bold">Search</button>
    <button id="clearBtn" name="Clear" style="color:#004803; border-color:#004803; background-color:#DBD9CA; font-weight:bold">Clear</button>
</div>
<div class="container text-center" style="padding: .5em 0 .5em 0">
     <table class="table-hover table-bordered align-items-center text-center" id="inventoryListTable" cellspacing=5 cellpadding=5 border="1" style="visibility:hidden">
        <tr class="text-center">
            <th>ISBN</th>
            <th>Title</th>
            <th>Author First Name</th>
            <th>Author Last Name</th>
            <th>Genre</th>
            <th>Location</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
@*        @for (var i = 0; i < Model.Books.Count(); i++)
                {
                    <tr>
                        <td>@Model.Books[i].ISBN</td>
                        <td>@Model.Books[i].Title</td>
                        <td>@Model.Books[i].AuthorFirst</td>
                        <td>@Model.Books[i].AuthorLast</td>
                        <td>@Model.Books[i].Genre</td>
                        <td>@Model.Books[i].Location</td>
                        <td>@Model.Books[i].Price.ToString("C")</td>
                        <td>@Model.Books[i].Quantity</td>
                        <td>@Model.Books[i].InStock</td>
                    </tr>
                }*@
    </table>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("Login", model: new AdminModel())
}
